/* Based on Flowbite template */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: var(--font-regular);
  color: rgb(var(--foreground-rgb));
  background: url('/images/light_noise_diagonal.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cursive);
}

/** IMPORTANT: prefix all custom css classes with ph- suffix **/
/** Color palette: https://paletton.com/#uid=7000u0kqmjdhorVmfnkvbenGu97 **/

/*---- COLORS ----*/
.ph-color-accent {
  /* amber-700 */
  color: rgb(180 83 9);
}
.hover\:ph-color-accent:hover {
  color: rgb(180 83 9);
}

.ph-color-muted {
  /* text-gray-500 */
  color: rgb(107 114 128);
}
/*---- /COLORS ----*/

/*---- BUTTONS ----*/
.ph-btn-primary {
  /* bg-red-800 */
  background-color: rgb(153 27 27);
  color: #fff;
  font-weight: bold;
}

.ph-btn-primary:hover {
  /* bg-red-500 */
  background-color: rgb(239 68 68);
}

.ph-btn-secondary {
  background-color: #de9c66;
  color: #fff;
  font-weight: bold;
}

.ph-btn-secondary:hover {
  /* bg-red-500 */
  background-color: rgb(239 68 68);
}
/*---- /BUTTONS ----*/

/*---- LISTS ----*/
details.ph-details-bullet > summary {
  list-style: none;
}

details.ph-details-bullet > summary::-webkit-details-marker {
  display: none;
}

.ph-custom-indicator {
  transition: transform 0.1s ease;
  font-size: 0.65rem;
  line-height: 0.5rem;
}

details.ph-details-bullet[open] .ph-custom-indicator {
  transform: rotate(90deg);
}
/*---- /LISTS ----*/

.ph-font-cursive {
  font-family: var(--font-cursive);
}

.ph-dashed-text {
  text-decoration: underline dashed;
  text-decoration-color: #999;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

/**
 * These styles fixes the overflow of the page,
 * and make the footer be pushed to the bottom of the page correctly
 */
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ph-header-wrapper {
  background-image: linear-gradient(to left, transparent, black),
    url('/images/tentacles-bg-3.png');
  background-position-y: -90%;
  background-position-x: right;
}

.ph-enable--currency-colors .ph-currency-unit--gp {
  /* .text-amber-600 */
  color: rgb(217 119 6);
}

.ph-enable--currency-colors .ph-currency-unit--sp {
  /* .text-slate-600 */
  color: rgb(71 85 105);
}

.ph-enable--currency-colors .ph-currency-unit--cp {
  /* .text-red-800 */
  color: rgb(153 27 27);
}
