@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ph-secondary-control-bg: #de9c66;
  --ph-secondary-color: #fff;
  --ph-color-control-regular: #024545;
  --ph-color-accent: #723503;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: var(--font-regular);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/** IMPORTANT: prefix all custom css classes with ph- suffix **/
/** Color palette: https://paletton.com/#uid=7000u0kqmjdhorVmfnkvbenGu97 **/

h1,
h2,
h3,
h4,
h5,
h6,
.ph-font-cursive {
  font-family: var(--font-cursive);
}

details.ph-details-bullet > summary {
  list-style: none;
}

details.ph-details-bullet > summary::-webkit-details-marker {
  display: none;
}

.ph-custom-indicator {
  transition: transform 0.1s ease;
  font-size: 0.65rem;
  line-height: 0.5rem;
}

details.ph-details-bullet[open] .ph-custom-indicator {
  transform: rotate(90deg);
}

.ph-btn-primary {
  /* bg-red-800 */
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
  color: #fff;
  font-weight: bold;
}

.ph-btn-primary:hover {
  /* bg-red-500 */
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.ph-btn-secondary {
  background-color: var(--ph-secondary-control-bg);
  color: var(--ph-secondary-color);
  font-weight: bold;
}

.ph-btn-secondary:hover {
  /* bg-red-500 */
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.ph-color-secondary {
  color: var(--ph-color-control-regular);
}

.ph-color-accent {
  /*color: var(--ph-color-accent)*/
  /* bg-red-900 */
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}

.ph-header-wrapper {
  background-image: linear-gradient(to left, transparent, black),
    url('/images/tentacles-bg-3.png');
  background-position-y: -90%;
  background-position-x: right;
}

.ph-dashed-text {
  text-decoration: underline dashed;
  text-decoration-color: #999;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
