@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: var(--font-regular);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6,
.ph-font-cursive {
  font-family: var(--font-cursive);
}

details.ph-details-bullet > summary {
  list-style: none;
}

details.ph-details-bullet > summary::-webkit-details-marker {
  display: none;
}

.ph-custom-indicator {
  transition: transform 0.3s ease;
  font-size: 0.65rem;
  line-height: 0.5rem;
}

details.ph-details-bullet[open] .ph-custom-indicator {
  transform: rotate(90deg);
}
